.footer {
	background-color: #2f303a;
	color: var(--additional-text-color);
	padding-top: 60px;
	padding-bottom: 60px;

	display: flex;
	@media screen and (max-width: 1199px) {
		text-align: center;
		justify-content: center;
	}
}

.footer__wraper {
	display: flex;

	@media screen and (max-width: 767px) {
		flex-direction: column;
		align-items: center;
	}

	@include tablet {
		flex-wrap: wrap;
		align-items: baseline;
	}

	@include desktop {
		align-items: baseline;
		flex-wrap: nowrap;
	}
}

.footer__contacts {
	margin-bottom: 60px;
	.contacts {
		text-align: center;
	}
	width: 100%;

	@include tablet {
		width: calc(100% / 2);
	}

	@include desktop {
		width: 301px;
		margin-bottom: 0;
	}
}

// .footer-logo {
// 	font-family: "Raleway", sans-serif;
// 	font-weight: 700;
// 	font-size: 26px;
// 	line-height: 1.19;
// 	color: var(--additional-text-color);
// }

.footer__address {
	.link {
		&:hover,
		&:focus {
			color: var(--accent-color);
		}

		transition-property: color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--additional-text-color);
		font-weight: 400;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.02em;
	}

	margin-top: 20px;
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.footer {
	.contacts {
		flex-direction: column;
	}
}

.contacts-item {
	&:not(first-child) {
		margin-top: 9px;
	}

	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	.link {
		@media screen and (max-width: 1199px) {
			margin: 0 auto;
		}
	}

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	display: flex;

	color: var(--secondary-text-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

/*------------FOOTER JOIN-----------*/
.join {
	@media screen and (max-width: 767px) {
		width: 100%;
	}
	margin-bottom: 60px;

	@include tablet {
		width: calc(100% / 2);

		@include desktop {
			width: 206px;
			margin-bottom: 0;
		}
	}
}

.join-header {
	font-size: 14px;
	line-height: 1.14;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--additional-text-color);
	margin-bottom: 20px;
}

.join-list {
	display: flex;
	justify-content: center;

	@include desktop {
		justify-content: start;
	}
}

.join-item {
	&:not(:first-child) {
		margin-left: 10px;
	}

	width: 44px;
	height: 44px;
}

.join-link {
	&:hover,
	&:focus {
		background-color: var(--accent-color);
	}

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.1);
}

.join-ico {
	fill: var(--additional-text-color);
}

.subscribe {
	@include tablet {
		width: 450px;
		margin: 0 auto;
	}

	@include desktop {
		margin-left: 93px;
		width: 570px;
	}
}

.subscribe-header {
	font-size: 14px;
	font-weight: 700;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--additional-text-color);
}

.subscribe-form {
	margin-top: 20px;
	display: flex;
	// flex-wrap: no-wrap;
	flex-wrap: wrap;
	@include desktop {
		position: relative;
	}
}

.subscribe-input {
	padding-left: 16px;

	margin-bottom: 30px;

	background-color: transparent;

	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	letter-spacing: 0.03em;

	color: rgba(255, 255, 255, 0.6);

	outline: transparent;
	width: 100%;
	height: 50px;

	@include desktop {
		width: 358px;
	}
}

.subscribe-btn {
	min-width: 200px;
	height: 50px;
	padding: 10px 28px;
	margin: 0 auto;
	// padding-left: 29px;
	// padding-top: 10px;
	// padding-bottom: 10px;

	border: none;

	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--additional-text-color);

	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	@include desktop {
		margin-left: 12px;
		position: absolute;
		right: 0;
	}
}

.footer-send-ico {
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
