/*-----Header------*/

.header {
	display: flex;
	border-bottom: 1px solid #ececec;
}

.header {
	> .container {
		display: flex;
		align-items: center;
	}
	@media screen and (max-width: 767px) {
		height: 60px;
	}
}

.menu {
	+ .contacts {
		@media screen and (max-width: 767px) {
			display: none;
		}
	}
	@media screen and (max-width: 767px) {
		display: none;
	}
}

.menu-open-btn {
	border: none;
	margin-left: auto;
	margin-right: 7px;
	background-color: transparent;
	@include tablet {
		display: none;
	}
}

.menu__list {
	display: flex;
	align-items: center;
}

// .menu-list__item:not(:last-child) {
// 	margin-right: 50px;
// }

.menu__item {
	&:not(:last-child) {
		margin-right: 50px;
	}

	position: relative;
}

.menu__link {
	&.current {
		color: var(--accent-color);
	}

	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
}

.menu__mob {
	position: fixed;
	background-color: var(--additional-text-color);
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
	padding-top: 21px;
	padding-bottom: 48px;
	.container {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		overflow: auto;
	}
}

.menu__mob-close {
	display: block;
	margin-left: auto;
	background-color: transparent;
	margin-bottom: 8px;
}
// .menu__mob-top {
// }

// .menu__mob-bottom {
// }
.mob__pages {
	background-color: var(--additional-text-color);
}

.mob__pages-item:not(:last-child) {
	margin-bottom: 32px;
}

.mob__pages-link {
	&.current {
		color: var(--accent-color);
	}
}

.mob__pages-link {
	font-weight: 500;
	font-size: 40px;
	line-height: calc(47 / 40);
	letter-spacing: 0.02em;
}

.mob__contacts {
	@include mobile320 {
		font-weight: 500;

		letter-spacing: 0.02em;
	}
	font-weight: 500;
	font-size: 34px;
	line-height: calc(40 / 34);
	letter-spacing: 0.02em;
	margin-bottom: 64px;

	display: flex;
	flex-direction: column-reverse;
}

.mob__contacts-item {
	&:not(:last-child) {
		margin-top: 32px;
		font-size: 24px;
		line-height: calc(28 / 24);
		color: var(--secondary-text-color);
	}
	font-size: 34px;
	line-height: calc(40 / 34);
	color: var(--accent-color);
	@include mobile320 {
		font-size: 32px;
	}
}

.mob__soc {
	@media screen and (max-width: 405px) {
		display: flex;
		flex-wrap: wrap;
		gap: 20px 10px;
		width: 100%;
	}
}

.mob__soc-item {
	@media screen and (min-width: 406px) {
		&:not(:last-child) {
			:after {
				content: "";
				border: 1px solid rgba(33, 33, 33, 0.2);
				transform: rotate(90deg);
				margin-left: 10px;
				margin-right: 10px;
			}
		}
		display: inline-block;
		color: var(--accent-color);
		font-weight: 500;
		font-size: 18px;
		line-height: 1.22;
		letter-spacing: 0.02em;
	}
	@media screen and (max-width: 405px) {
		font-weight: 500;
		font-size: 18px;
		line-height: 1.22;
		letter-spacing: 0.02em;

		color: var(--accent-color);

		flex-direction: row;
		justify-content: space-between;
		flex: 1 1 auto;
	}
}
