/*---------TEAM---------*/

.team {
	background-color: #f5f4fa;
}

.team__header {
	font-size: 28px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);

	@include desktop {
		margin-bottom: 50px;
		font-size: 36px;
	}
}

.team__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.team__item {
	background-color: var(--additional-text-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	// margin-top: 30px;
	@include tablet {
		flex-basis: calc(100% / 2 - 15px);
	}
	@include desktop {
		flex-basis: calc((100% - 90px) / 4);
	}
}

.team__name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
	margin-bottom: 10px;
}

.team__title {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
	margin-bottom: 16px;
}

.team__wrapper {
	padding: 30px 5px;
}

.team__soc-list {
	display: flex;
	justify-content: center;
}

.team__soc-item {
	&:not(:first-child) {
		margin-left: 10px;
	}

	width: 44px;
	height: 44px;
}

.team__soc-ico {
	fill: var(--button-no-active-color);
}

.team__soc-link {
	.team__soc-ico {
		transition-property: fill;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}

	&:hover,
	&:focus {
		.team__soc-ico {
			fill: var(--additional-text-color);
		}

		background-color: var(--accent-color);
	}

	transition-property: background-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

// .team__soc-link:hover .team__soc-ico,
// .team__soc-link:focus .team__soc-ico {
// 	fill: var(--additional-text-color);
// }
